<%= simple_form_for(@session, :html => { :class => 'form-horizontal' }) do |f| %>

  <%= f.input :interviewer, label: "name" %>
  <%= f.input :company, label: "company" %>
  <div class="form-actions">
    <%= f.button :submit, "create session", :class => 'btn btn-primary' %>
  </div>


<% end %>