<select name="Language" id="langDrop">
  <option value = "text/x-csrc">C</option>
  <option value = "text/x-c++src">C++</option>
  <option value = "text/x-java">Java</option>
  <option value = "text/x-javascript">JavaScript</option>
  <option value = "text/x-ocaml">OCaml</option>
  <option value = 'text/x-python'>Python</option>
  <option value = 'text/x-scala'>Scala</option>
  <option value = "text/x-ruby">Ruby</option>
  <option value = 'text/x-sql'>SQL</option>

</select>  

<script>
  var langRef = new Firebase("https://interviewr.firebaseio.com/<%= @session.random + 'lang'%>");
  langRef.push()
  var extension = "c"
  $("#langDrop").change (function () {
    var newSyntax = $("#langDrop option:selected").val();
    langRef.set({"lang": newSyntax});
  });

  langRef.on('value', function(snapshot)  {
    if (snapshot.val() !== null)
    {
      $("#langDrop").val(snapshot.val().lang);
      codeMirror.setOption("mode", $("#langDrop").val());
      if ($("#langDrop").val() == "text/x-csrc") extension = "c";
      if ($("#langDrop").val() == "text/x-java") extension = "java";
      if ($("#langDrop").val() == "text/x-javascript") extension = "js";
      if ($("#langDrop").val() == "text/x-ocaml") extension = "ocaml";
      if ($("#langDrop").val() == "text/x-python") extension = "py";
      if ($("#langDrop").val() == "text/x-scala") extension = "scala";
      if ($("#langDrop").val() == "text/x-c++src") extension = "cpp";
      if ($("#langDrop").val() == "text/x-ruby") extension = "rb";
      if ($("#langDrop").val() == "text/x-sql") extension = "sql";
    }
  });
</script>
