<form name = "langDrop" id = "langDrop" action = "javascript:changeLang()">

  <select name="Language">
    <option value = "clike">C/C++</option>
    <option value = 'python'>Python</option>
    <option value = "javascript">JavaScript</option>
  </select>  

</form>

<script>
  $("#langDrop").onchange (function () {
    alert($("#langDrop option:selected").val());
  });
</script>
