<select name="Language" id="langDrop">
  <option value = "clike">C/C++</option>
  <option value = 'python'>Python</option>
  <option value = "javascript">JavaScript</option>
</select>  

<script>
  var langRef = new Firebase("https://interviewr.firebaseio.com/<%= @session.random + 'lang'%>");
  langRef.push()
  var extension = "c"
  $("#langDrop").change (function () {
    var newSyntax = $("#langDrop option:selected").val();
    langRef.set({"lang": newSyntax});
  });

  langRef.on('value', function(snapshot)  {
    if (snapshot.val() !== null)
    {
      $("#langDrop").val(snapshot.val().lang);
      codeMirror.setOption("mode", $("#langDrop").val());
      if ($("#langDrop").val() == "clike") extension = "c";
      if ($("#langDrop").val() == "python") extension = "py";
      if ($("#langDrop").val() == "javascript") extension = "js";
    }
  });
</script>
