<form name = "langDrop" id = "langDrop" action = "javascript:changeLang()">

  <select name="Language">
    <option value = "clike">C/C++</option>
    <option value = 'python'>Python</option>
    <option value = "javascript">JavaScript</option>
  </select>  

</form>

<script>
    var langRef = new Firebase("https://interviewr.firebaseio.com/<%= @session.random + 'lang'%>");
    langRef.push();

  $("#langDrop").onchange (function () {
    var newSyntax = $("#langDrop option:selected").val();
    langRef.set({"lang": newSyntax});
  });

  langRef.on('value', function(snapshot)  {
    if (snapshot.val() !== null)
    {
      alert(snapshot.lang());
    }
  });
</script>
