  <div class="btn-group">
    <button class="btn notepad-open">Open File</button>
    <button class="btn notepad-save">Save Code</button>
  </div>

<script type="text/javascript">
  var curr_file;
$(".notepad-open").click(function(){
   filepicker.pick({}, function(fpfile){
      curr_file = fpfile;
      $(".notepad-title").text(fpfile.filename);
      $(".notepad-reload").removeClass("disabled");
      $("#notepad").val("Loading...").attr("disabled", "disabled");
      filepicker.read(curr_file, function(contents){
         firepad.setText(contents);
      });
   });
});
$(".notepad-save").click(function(){
  var btext = $(this).children("span");
  btext.text("Saving...");
  filepicker.store(firepad.getText(),
      {filename:'interviewr.' + extension, location: 'S3'},
      function(stored_file){
          filepicker.export(stored_file, {mimetype: 'plain-text/*'}, function(fpfile) {
              $(".notepad-title").text(fpfile.filename);
              btext.text("Saved");
              curr_file = fpfile;
          }
      );
  });
});
</script>

<%= render :partial=>"lang" %><br />

<div id="firepad"></div>

  <script>
    //// Initialize Firebase.
    // var firepadRef = new Firebase('<YOUR FIREBASE URL>');
    var firepadRef = new Firebase("https://interviewr.firebaseio.com/<%= @session.random + 'firepad'%>");
    firepadRef.push();

    //// Create CodeMirror (with lineWrapping on).
    var codeMirror = CodeMirror(document.getElementById('firepad'), {
      lineNumbers: true,
      mode: 'javascript'
    });

    // Create a random ID to use as our user ID (we must give this to firepad and FirepadUserList).
    var userId = Math.floor(Math.random() * 9999999999).toString();

    //// Create Firepad (with rich text features and our desired userId).
    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror);

    /* //// Create FirepadUserList (with our desired userId).
    var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
        document.getElementById('userlist'), userId);
    */

    //// Initialize contents.

    /* firepad.on('ready', function() {
      if (firepad.isHistoryEmpty()) {
        firepad.setText('// Check out the user list to the left!');
      }
    }); */

  </script>

