<div id="firepad"></div>

  <script>
    //// Initialize Firebase.
    // var firepadRef = new Firebase('<YOUR FIREBASE URL>');
    var firepadRef = new Firebase("http://interviewr.firebaseio.com/<%= @session.random + "firepad"%>");
    firepadRef.push();

    //// Create CodeMirror (with lineWrapping on).
    var codeMirror = CodeMirror(document.getElementById('firepad'), { 
      lineNumbers: true,
      mode: 'javascript'
    });

    // Create a random ID to use as our user ID (we must give this to firepad and FirepadUserList).
    var userId = Math.floor(Math.random() * 9999999999).toString();

    //// Create Firepad (with rich text features and our desired userId).
    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror);

    /* //// Create FirepadUserList (with our desired userId).
    var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
        document.getElementById('userlist'), userId);
    */

    //// Initialize contents.
    
    /* firepad.on('ready', function() {
      if (firepad.isHistoryEmpty()) {
        firepad.setText('// Check out the user list to the left!');
      }
    }); */

  </script>

