<div id="settings">
	<% if in_progress? %>
		You still have a session going on 
		<%= link_to "here.", current_session.random %>
	<% else %>
		<h1>Welcome to Interviewr</h1>
		<h2>Please enter the following</h2>
		<%= render 'form' %>
	<% end %>
</div>