<% if @session != nil %>
    <div class="row-fluid">
        <div class="span8">
            <%= render :partial=>"textedit" %>
        </div>
        <div class="span4">
            <%= render :partial=>"video" %><br />
            <%= render :partial=>"lang" %><br />
            <%= render :partial=>"chat" %><br />
        </div>
    </div>
<% else %>
	You need to start an interview first!
<% end %>
