<div id="settings-container">
	<div id="settings">
<h1>You are interviewing with <%= @session.interviewer %> from <%= @session.company %>.</h1>
<h2>Good luck!</h2>
<%= link_to "Continue", link_session_path(@random), :class => "btn btn-mini" %>
	</div>
</div>