<div class="row-fluid">
    <div class="span8">
        <%= render :partial=>"textedit" %>
    </div>
    <div class="span4">
        <%= render :partial=>"video" %>
        <%= render :partial=>"chat" %>
    </div>
</div>
